_basics
_config.yml
_configuration
_data
_development
_features
_gcode
_hardware
_includes
_layouts
_meta
_plugins
_sass
_site
_tmp
_tools
.sass-cache
.jekyll-metadata
Gemfile.lock
vendor
.bundle
*.sublime-*
